<div class="container pt-5">
  <h2>Intern Details</h2>

  <div class="card text-center">
    <div class="card-header">
      John Doe
    </div>
    <div class="card-body">
      <h5 class="card-title">Description</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, magni. Error dolorum, porro, officiis ab ipsa similique a animi nesciunt inventore blanditiis vel, numquam pariatur quibusdam natus aliquid perspiciatis atque.</p>
      <a routerLink="../" class="btn btn-primary">Back</a>
    </div>
  </div>
</div>