<div class="container pt-5">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Mentors</h5>
          <h6 class="card-subtitle mb-2 text-muted">4</h6>
          <button class="btn btn-primary" routerLink="mentor/form">Add Mentor</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total Intern</h5>
          <h6 class="card-subtitle mb-2 text-muted">4</h6>
          <button class="btn btn-primary" routerLink="intern/form">Add Intern</button>
        </div>
      </div>
    </div>
  </div>
</div>